ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

ul li a {
    height: 4rem;
    width: 15rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    align-items: start;
    flex-direction: column;
    overflow: hidden;
    color: black;
    font-weight: 500;
    transition: .5s;
}

ul li a:hover {
    background-color: rgb(0, 80, 185);
    color: white;
    cursor: pointer;
    transition: .5s;
}

.content {
    padding: .5rem 1rem;
    position: relative;
    right: 0;
}

.div-button-add-form {
    position: absolute;
    right: 5rem;
    bottom: 5rem;
    display: flex;
    text-align: center;
}

.button-add-form img {
    position: absolute;
    align-items: center;
    justify-content: center;
    right: 0;
    bottom: 0;
    width: 100px;
    transition: .5s;
}

.button-add-form:hover img {
    width: 110px;
    transition: .5s;
}

.removeForm {
    position: absolute;
}

.removeForm button {    
    margin: 0.5rem;
    display: flex;
    justify-items: center;
    overflow: hidden;
    font-weight: 500;
}