<app-search></app-search>
<app-tags></app-tags>
<ul>
    @for(value of formTypes; track value.id)
    {
    <li>
        <div style="display: flex; flex-direction: row;">
            <a href="/form/{{value.id}}">
                <div class="content">
                    <div class="name">
                        {{value.name}}
                    </div>
                </div>
            </a>
            <div class="div-remove-form">
                <button class="btn-remove-form" (click)="removeForm(value.id)">
                    <b>-</b>
                </button>
            </div>
        </div>
    </li>
    }
</ul>
<div class="div-button-add-form">
    <a class="button-add-form" href="/form/create">
        <img src="/assets/addFormIcon.png" alt="Adicionar" />
    </a>
</div>