<app-popup-select-items [classContent]="classPopupSelecItems" [select]="selectToAddOption" (esconderFilho)="AddOptionOnSelect()"></app-popup-select-items>

<div class="container-form">
    <div class="title">
        <h5>{{form?.name}}</h5>
    </div>
    <div class="content" id="listComponents">
    </div>
</div>
<div class="container-add-component" id="container-add-component">
    <div id="listButtonComponents" class="list-options-fields hidden-list-options-fields">
        <div class="buttons-options-components">
            <p>Campo de texto</p>
            <button class="button-add-component" (click)="appendComponentText()">
                <img class="img-add-component" src="/assets/textIcon.png" alt="Adicionar" />
            </button>
        </div>
        <div class="buttons-options-components">
            <p>Campo de seleção única</p>
            <button class="button-add-component" (click)="appendComponentRadio()">
                <img class="img-add-component" src="/assets/radioIcon.png" alt="Adicionar" />
            </button>
        </div>
        <div class="buttons-options-components">
            <p>Campo de seleção multipla</p>
            <button class="button-add-component" (click)="appendComponentCheckBox()">
                <img class="img-add-component" src="/assets/checkBoxIcon.png" alt="Adicionar" />
            </button>
        </div>
        <div class="buttons-options-components">
            <p>Campo de escolha</p>
            <button class="button-add-component" (click)="appendComponentSelect()">
                <img class="img-add-component" src="/assets/selectIcon.png" alt="Adicionar" />
            </button>
        </div>
    </div>
    <div style="display: flex; justify-content: end;">
        <button class="button-add-component" (click)="showOptionsOfComponents()">
            <img class="img-add-component" src="/assets/addComponentIcon.png" alt="Adicionar" title="Abrir comandos" />
        </button>
    </div>
    <div style="display: flex; justify-content: end;">
        <button class="button-add-component" (click)="exportPdf()">
            <img class="img-add-component" src="/assets/pdfIcon.png" alt="Adicionar" title="Export para PDF" />
        </button>
    </div>
</div>