p {
    margin: 0;
}

.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin-bottom: 5rem;
    width: 100%;
}

.title {
    margin: 2rem 0 2rem 0;
}

.content {
    width: calc(100% - 500px);
}

.field {
    padding: .5rem 0 .5rem 0;
}

.input-title {
    margin: .5rem 0 .5rem 0;
    font-weight: bold;
}

.input-label {
    margin: .5rem 0 .5rem 0;
    font-weight: bold;
    width: 100%;
}

.input-value {
    width: 100%;
}

.input-radio {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.input-radio-values {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.select {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.container-add-component {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    display: flex;
    justify-content: space-between;
    gap: .5rem;
    flex-direction: column;
}

.container-add-component>div:last-child {
    margin-top: 1rem;
}

.button-add-component {
    display: flex;
    border: none;
    background-color: white;
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
}

.img-add-component {
    width: 3.5rem;
    height: 3.5rem;
}

.list-options-fields {
    display: flex;
    justify-content: space-between;
    gap: .5rem;
    flex-direction: column;
}

.hidden-list-options-fields {
    display: none;
}

.buttons-options-components {
    flex-direction: row;
    display: flex;
    justify-content: end;
}

.buttons-options-components p {
    padding: .5rem .5rem 0 0;
    height: 2rem;
    background-color: white;
}

.button-add-select-option {
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    color: black;
    font-weight: 500;
    padding: 0 1rem;
    transition: .5s;
}

.button-add-select-option:hover {
    background-color: rgb(0, 80, 185);
    color: white;
    cursor: pointer;
    transition: .5s;
}

.div-add-select-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}