p {
    margin: 0;    
}

.container-form {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    padding: 0;
    margin-bottom: 5rem;
    width: 100%;
    position: relative;
    top: 4rem;
}

#popupEditElement {
    position: absolute;
    display: none;
    background-color: transparent;
    z-index: 1000;
}

#popupEditElement ul {
    list-style-type: none;
}

.delete-button {
    background-color: red;
}

.content-popup-selecteditems {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(211, 211, 211, 0.8);
    z-index: 1000;
}

.title {
    display: flex;
    margin: 1rem 0;
    align-items: center;
    justify-content: center;
}

.content {
    padding: 0 5rem 5rem 5rem;
    align-items: center;
    justify-content: flex-start;
}

.field {
    padding: .5rem 0 .5rem 0;
}

.field p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: calc(100% - 20px);
}

.input-title {
    margin: .5rem 0 .5rem 0;
    font-weight: bold;    
    text-align: justify;
}

.input-label {
    margin: .5rem 0 .5rem 0;
    font-weight: bold;
    width: 100%;
}

.input-value {
    width: 100%;
}

.input-radio {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.input-radio-values {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.select {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.container-add-component {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    display: flex;
    justify-content: space-between;
    gap: .5rem;
    flex-direction: column;
}

.container-add-component>div:last-child {
    margin-top: 1rem;
}

.button-add-component {
    display: flex;
    border: none;
    background-color: white;
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
}

.img-add-component {
    width: 3.5rem;
    height: 3.5rem;
}

.list-options-fields {
    display: flex;
    justify-content: space-between;
    gap: .5rem;
    flex-direction: column;
}

.hidden-list-options-fields {
    display: none;
}

.buttons-options-components {
    flex-direction: row;
    display: flex;
    justify-content: end;
}

.buttons-options-components p {
    padding: .5rem .5rem 0 0;
    height: 2rem;
    background-color: white;
}

.button-add-select-option {
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    color: black;
    font-weight: 500;
    padding: 0 1rem;
    transition: .5s;
}

.button-add-select-option:hover {
    background-color: rgb(0, 80, 185);
    color: white;
    cursor: pointer;
    transition: .5s;
}

.div-add-select-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

.button-save-component {
    display: flex;
    border: none;
    border-radius: 1rem;
    width: 5rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
}

.button-save-component {
    background-color: rgb(0, 110, 255);
    color: white;
    transition: 0.5s;
}

.button-save-component:hover {
    background-color: rgb(0, 80, 185);
    transition: 0.5s;
}

@media (max-width: 650px) {
    .content {
        padding: 0 1rem 10rem 1rem;
    }
}